@import url("../fonts/Poppins-Regular.ttf");

@font-face {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  src: url("../fonts/Poppins-Black.ttf") format("truetype");
}

:root {
  --heavy-blue: #071a34;
  --sky-blue: #28c3ef;
  --btn-blue: #168eb4;
  --regular-white: #ffffff;
  --regular-black: #000000;
  --gray: #a1a3a8;
}

fieldset,
legend {
  all: revert;
  font-size: 12px;
}

body {
  font-family: "Poppins", sans-serif !important;
  font-size: 12px;
  color: var(--regular-black) !important;
}

.main-sidebar {
  background-color: var(--heavy-blue) !important;
  color: var(--regular-white) !important;
}

/* btn card Styles */
.dahsboard_btn {
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 25%);
}

.content-header {
  padding: 0 !important;
}

input,
select,
fieldset,
textarea {
  border: 1px solid #d1cdcd;
  border-radius: 5px;
}

.nav-link p {
  color: #ffffff !important;
}
body {
  color: #071a34;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: #071a34 !important;
}

label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 400;
}

.btnTB {
  background: #168eb4;
  border-radius: 5px;
  font-weight: 600;
  font-size: 10px;
  padding: 5px 10px;
  border: none;
  color: #ffffff;
}

@media screen and (max-width: 1366px) {
  td {
    font-size: 10px;
    text-transform: uppercase;
  }
  thead {
    font-size: 10px;
    text-transform: uppercase;
    color: #168eb4;
  }
  .nav-link {
    font-size: 10px;
  }
  select {
    height: 24px !important;
    border: 1px soild#D1CDCD !important;
  }
  input {
    height: 24px !important;
    border: 1px soild#D1CDCD !important;
    padding: 0 8px;
  }
}

@media (min-width: 1920px) and (max-width: 2560px) {
  td {
    font-size: 10px;
    text-transform: uppercase;
  }
  thead {
    font-size: 10px;
    text-transform: uppercase;
    color: #168eb4;
  }
  .nav-link {
    font-size: 12px;
  }
  select {
    height: 20px !important;
    border: 1px soild#D1CDCD !important;
  }
  input {
    height: 24px !important;
    border: 1px soild#D1CDCD !important;
    padding: 0 8px;
  }
}
