@import url("../fonts/Poppins-Regular.ttf");

@font-face {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  src: url("../fonts/Poppins-Black.ttf") format("truetype");
}

:root {
  --heavy-blue: #071a34;
  --sky-blue: #28c3ef;
  --btn-blue: #168eb4;
  --regular-white: #ffffff;
  --regular-black: #0c2e5b;
  /* --regular-black: #000000; */
  --gray: #a1a3a8;
}

fieldset,
legend {
  all: revert;
  font-size: 12px;
}

body {
  font-family: "Poppins", sans-serif !important;
  font-size: 12px;
  color: var(--regular-black) !important;
}

p{
  margin-bottom: 0px;
}

.main-sidebar {
  background-color: var(--heavy-blue) !important;
  color: var(--regular-white) !important;
}

/* btn card Styles */
.dahsboard_btn {
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 25%);
}

.content-header {
  padding: 0 !important;
}

input,
select,
fieldset,
textarea {
  border: 1px solid #d1cdcd;
  border-radius: 5px;
}

.nav-link p {
  color: #ffffff !important;
}
body {
  color: #0c2e5b;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: #0c2e5b !important;
}

label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 400;
}

.btnT {
  background: #ffffff;
  border: 1px solid #168eb4;
  border-radius: 5px;
  font-weight: 600;
  font-size: 10px;
  padding: 7px 10px;
}

.btnTB {
  background: #168eb4;
  border-radius: 5px;
  font-weight: 600;
  font-size: 10px;
  padding: 7px 10px;
  border: none;
  color: #ffffff;
}

.btnEmpty {
  background: #a3afb3;
  border-radius: 5px;
  font-weight: 600;
  font-size: 10px;
  padding: 7px 10px;
  border: none;
  color: #000000;
}

.btnTBD {
  background:black;
  border-radius: 5px;
  font-weight: 600;
  font-size: 10px;
  padding: 7px 10px;
  border: none;
  color: #ffffff;
}
.btnTBW {
  background:white;
  /* border-radius: 5px; */
  padding: 7px 10px;
  border: none;
}
.btnTC {
  background: #bb0000;
  border-radius: 5px;
  font-weight: 600;
  font-size: 10px;
  padding: 7px 10px;
  border: none;
  color: #ffffff;
}
thead th {
  font-size: 10px;
}

td {
  font-size: 10px;
}

input[type="radio"] {
  height: 18px;
  width: 18px;
  cursor: pointer;
  accent-color: var(--btn-blue);
}
.radioRed {
  accent-color: #bb0000;
}
.radioYellow {
  accent-color: #dbbf04;
}

.required:after {
  content: " *";
  color: #bb0000;
}
input::placeholder {
  /* font-weight: bold; */
  font-size: 10px;
  padding-left: 5px;
}

.card-primary.card-outline {
  border-top: 3px solid #168eb4;
  margin-top: 5px;
}

textarea::placeholder {
  font-size: 10px;
}

option {
  font-size: 10px;
}

/* nav tab */
.tabLable {
  font-weight: 700;
}

.nav-tabs .nav-link.active {
  color: #168eb4;
}
/*  */

@media screen and (max-width: 1366px) {
  td {
    font-size: 10px;
    /* text-transform: uppercase; */
  }
  thead {
    font-size: 10px;
    /* text-transform: uppercase; */
    color: #168eb4;
  }
  .nav-link {
    font-size: 10px;
  }
  select {
    height: 24px !important;
    border: 1px soild#D1CDCD !important;
  }
  input {
    height: 24px !important;
    border: 1px soild#D1CDCD !important;
    padding: 0 8px;
    /* width: 285px; */
  }
}

@media (min-width: 1920px) and (max-width: 2560px) {
  td {
    font-size: 10px;
    /* text-transform: uppercase; */
  }
  thead {
    font-size: 10px;
    /* text-transform: uppercase; */
    color: #168eb4;
  }
  .nav-link {
    font-size: 12px;
  }
  select {
    height: 24px !important;
    border: 1px soild#D1CDCD !important;
  }
  input {
    height: 24px !important;
    border: 1px soild#D1CDCD !important;
    padding: 0 8px;
    /* width: 420px; */
  }
}

/* Scroll Bar */


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;  
}

::-webkit-scrollbar
{
  height: 4px;
	width: 5px;
	background-color: #F5F5F5;
}


::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(152, 152, 152, 0.375);
	background-color: #0c2e5b;
  
}

/* ////// */
